
<% @tasks.each do |task| %>
  <h2><%= link_to task.name, task_path(task) %></h2>
  <p><%= link_to "edit", edit_task_path(task) %></p>
  <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<% end %>
<p><%= link_to "nouvelle task", new_task_path %></p>

<!-- Should display a list of all tasks and, for each task:
a link to its show view (use a link_to helper)
a link to its edit view
a link to its delete action. Hint: a standard link does not allow to perform DELETE request, so here you should add a method: :delete option to your link_to helper.
 -->
